* {
    margin: 0;
    padding: 0;
}
body {
    background-color:black; 
}
.blocktop {
    background-color:silver;
    width: 100%;
}
#wrapper {
    height:1000px;
    width:970px; 
    background-position: center;
    background-color: #6F5964;
    margin: 0 auto;
}
#header {
    background-color: #F8F8F8;
    height: 70px;
}
#header h1 {
    color: black;
    font-family: Courier New, Courier, monospace;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}
#header p{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    font-size: 21px;
    margin-top: 14px;
    margin-left: 415px;
}
#picture {
    display: inline-block;
    height: 259px;
    width: 406px;
    border:white 2px solid;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
#about {
    background-color: #EDE5EC;
    display: inline-block;
    height: 259px;
    width: 496px;
    margin-top: 20px;
    margin-right: 20px;
    vertical-align: top;
}
#about p{
    font-family: sans-serif;
    color: black;
    padding-bottom: 8px;
    margin: 8px 9px;
}
#link {
    margin-left: 9px;
    display: inline-block;
}
.block {
    background-color: #EDE5EC;
    display: inline-block;
    width: 295px;
    height: 576px;
    margin-top: 20px;
    margin-left: 19px;
}
.blockphoto {
    width: 100%
}
.header {
    background-color:#878593;
    width: 100%;
    height: 41px;
}
.header h2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 8px 9px;
    display:inline-block;   
}
.header h3{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 10px 9px;
    display:inline-block;   
}
.block p{
    font-size: 15px;
    padding-bottom: 29px;
    margin: 8px 9px;
    font-family: sans-serif;
}
.icon {
    height: 35px;
    width: 35px;
    display: inline-block;
    margin: 10px;
}
.button {
    height: 35px;
    width: 135px;
    display:inline-block;
    margin-left:74px;
    background-color: #407D61;
    text-align: center; 
    border-radius: 5px;
}
.button p{
    margin: 7px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#footer {
    background-color: #F8F8F8;
    height: 70px;
    width:100%;
    margin-top: -1px;
}
#footer h2{
    font-size:11px;
    font-family: sans-serif;
    display: inline-block;
    margin: 13px 399px;
}
#footer p{
    font-size: 11px;
    font-family: sans-serif;
    display: inline-block;
    margin: 0px 339px;
}
.social {
    height:16px;
    width: 16px;
    display: inline-block;
    margin: -4px 5px;
}   